# Ignore Git and version control
.git
.gitignore

# Ignore R temporary and history files
.Rhistory
.RData
profile.out

# Ignore scripts not needed in the image
PrepareData.R
translations.R
requirements.R

# Ignore testing and deployment folders
tests/
rsconnect/

# Optional: ignore renv settings if not needed
renv/settings.json

# Ignore README or other docs
README.md

